.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-controller{
  margin: auto;
  padding: 10px;
  background-color: #61dafb;
}
.btn-signup{
  margin-top: 20px;
}
.dashboard{
  background-color:black ;
  width: 100%;
  height: 100vh;
  display: flex;
}
.sidemenu{
  height: 90vh;
  width: 29%;
  border-radius: 20px;
  margin-left: 20px;
  color: aliceblue;
}
img{
  border-radius: 20px;
  margin-top: 20px;
}

.main-content{
  width: 70%;
  height: 100vh;
  background-color: aliceblue;
}
.nav-bar{
  margin-left: 110px;
}
